<li>
  <p><strong>Name: </strong> {{name}}</p>
  <p><strong>Phone Number: </strong> {{phoneNumber}}</p>
  <p><strong>Password: </strong>  {{password}}</p>
  <p><strong>Role ID: </strong>   {{roleId}}</p>
</li>